.cartao {
	margin: 32px 16px;
  	padding: 16px;
	line-height: 1.5;
	position: relative;
	word-wrap: break-word;
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
	background: #EBEF40;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}
.cartao {
  margin: 20px;
  padding: 20px;
  background-color: yellow;
  border-radius: 3px;
  display: inline-block;
  flex-grow: 1;
  flex-basis: 200px; /*faz a funcao do width*/

}


@media (min-width: 560px){

	.cartao {
		flex-grow: 1;
		display: inline-block;
		text-align: left;
		box-sizing: border-box;
		vertical-align: top;
	}

}



.cartao .cartao-conteudo {
  font-family: sans-serif;
}

.cartao--some {
  opacity: 0;
  transition: 0.2s easy-in;
}







@media (min-width: 560px) {
  .cartao--textoPequeno {
    font-size: 1em;
    width: 11em;
    flex-basis: 11em;
  }
  .cartao--textoMedio {
    font-size: 1.5em;
    width: 9em;
    flex-basis: 9em;
  }.cartao--textoGrande {
    font-size: 2em;
    width: 6em;
    flex-basis: 6em;
  }

}
